
.str-container {
    padding-top: 100px;
    width: 100%;


}
.stories {
    display: flex;
    align-items: center;
    padding: 20px 50px 20px 20px;
    background-color: rgb(255,255,255);
    border-radius: 8px;
    border: 1px solid #ccc;
}
.stories-name {
    font-size: 11px;
    letter-spacing: .01em;
    align-items: center;
    padding-left: 5px;

}
.storie {
    margin-left: 20px;
}
.wrap-story {
    margin-left: 10px;
}
@media only screen and (max-width: 768px) {
    
}

@media only screen and (min-width: 768px) {
    
    
}